<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Une reproduction Mondrian</title>
  <style type="text/css">
html, body {
  height: 100%;
  margin:0;
}
  .left{

    background-color:white;
    height:100%;
    width:25%;
    float: left;
    border-right:1px solid black;
box-sizing: border-box;
  }
  .right-down{
background-color:red;
height:50%;
width:75%;
float: right;
border-top:1px solid black;
border-left:1px solid black;
box-sizing: border-box;
  }
  .right-up{
background-color:white;
height:50%;
width: 75%;
float:right;
border-left: 1px solid black;
box-sizing: border-box;
  }


  </style>
</head>
<body>
<div class="left"></div>
  <div class="right-up"> </div>
    <div class="right-down"> </div>

</body>
</html>
